<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robotic_arm">
    <ros2_control name="arm_hw" type="system">
    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystem</plugin>
    </hardware>

    <joint name="joint1">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint2">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint3">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint4">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint5">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint6">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00360621702328832 5.13965852572684E-05 -0.00437548460570378"
        rpy="0 0 0" />
      <mass
        value="0.905716018714615" />
      <inertia
        ixx="0.00107148927922179"
        ixy="2.76094582641941E-06"
        ixz="-5.48596189361244E-07"
        iyy="0.00144104333999584"
        iyz="2.22549999381976E-07"
        izz="0.00244792600293045" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.650980392156863 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.000108374983294121 -0.0224173657123978 0.0295694936286941"
        rpy="0 0 0" />
      <mass
        value="1.91180538368796" />
      <inertia
        ixx="0.00130826953517784"
        ixy="1.3668660920291E-06"
        ixz="1.38971343647627E-05"
        iyy="0.00190867031535885"
        iyz="1.26824657951645E-06"
        izz="0.00177080127699075" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.650980392156863 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="continuous">
    <origin
      xyz="6.34132927793407E-05 -0.00167405073291106 0.0278500000000087"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.375032807584103 -0.00767142856848219 -0.0148750517361231"
        rpy="0 0 0" />
      <mass
        value="1.09233144358037" />
      <inertia
        ixx="0.000562645054167591"
        ixy="4.6355173743639E-07"
        ixz="-5.41332728898313E-05"
        iyy="0.00825256907491947"
        iyz="-1.2040814647427E-06"
        izz="0.00858584566040506" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.701960784313725 0.670588235294118 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.00565491862295636 0.0185517283813911 0.0710733482199691"
      rpy="-1.5707963267949 -1.5708 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.396708620293581 -0.0009580050394698 0.0146574939500043"
        rpy="0 0 0" />
      <mass
        value="0.750870225721497" />
      <inertia
        ixx="0.000311759468382739"
        ixy="-4.43262109210123E-06"
        ixz="2.95134858752333E-06"
        iyy="0.00280789973164969"
        iyz="-6.86575257856084E-07"
        izz="0.00305821466409237" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.854901960784314 0.533333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.500001547205985 -0.00750000000003981 0.0418960557056171"
      rpy="3.14159265358979 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.8"
      upper="2.8"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.0388635088998436 0.0683350036809159 -0.0302743627631186"
        rpy="0 0 0" />
      <mass
        value="0.328855136025888" />
      <inertia
        ixx="0.000130515381077466"
        ixy="-1.58524988603632E-07"
        ixz="2.47556859422373E-07"
        iyy="8.67316206395657E-05"
        iyz="-5.55843117742173E-08"
        izz="0.000124148178178434" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.493372719987381 -0.000717203264851807 -0.0115"
      rpy="3.14159265358979 0 1.5708" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.82"
      upper="1.92"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.0409963218118283 -0.000737375741447381 -0.0449408930326747"
        rpy="0 0 0" />
      <mass
        value="0.107863966418761" />
      <inertia
        ixx="2.27221737578051E-05"
        ixy="2.69721515117386E-08"
        ixz="5.25283476817911E-07"
        iyy="2.42204415320291E-05"
        iyz="5.16755491617417E-09"
        izz="3.18656466025932E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.0420000017681742 0.0760000060786439 -0.0298499999999999"
      rpy="1.5707963267949 0 1.5708" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="-0.0571545044239792 0 0.998365345263972" />
    <limit
      lower="-0.4"
      upper="0.4"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="3.46944695195361E-18 -1.17961196366423E-16 0.0196990985019004"
        rpy="0 0 0" />
      <mass
        value="0.150213928644987" />
      <inertia
        ixx="7.59512548879523E-05"
        ixy="6.71670657393058E-21"
        ixz="-1.05879118406788E-20"
        iyy="7.59512548879523E-05"
        iyz="-2.26088313745444E-19"
        izz="0.00011238690149753" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.113725490196078 0.113725490196078 0.113725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.109242825291171 -0.00191951430536242 -0.0510772149208419"
      rpy="0.0171393597075962 1.51361065936655 3.14159265358978" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="50"
      velocity="10" />
  </joint>
</robot>
