<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robotic_arm">

  <ros2_control name="arm_hw" type="system">
    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystem</plugin>
    </hardware>

    <joint name="joint1">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint2">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint3">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint4">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint5">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint6">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

</ros2_control>
  <!-- 虚拟根链接，解决KDL根链接惯量问题 -->
  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0091691 0.00025382 0.018962"
        rpy="0 0 0" />
      <mass
        value="1.0998" />
      <inertia
        ixx="0.0018714"
        ixy="5.0546E-06"
        ixz="8.4992E-08"
        iyy="0.0021258"
        iyz="1.3828E-07"
        izz="0.0039568" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29412 0.29412 0.29412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="7.43358623475285E-06 0.023889111022454 0.0983534461817423"
        rpy="0 0 0" />
      <mass
        value="2.34956808405639" />
      <inertia
        ixx="0.00573875484676502"
        ixy="-2.00357397760014E-07"
        ixz="1.05499338060549E-06"
        iyy="0.0081459637209077"
        iyz="2.40543211978046E-05"
        izz="0.00840985861180689" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.0"
      upper="2.0"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.31324601008515 -0.000831742439412309 0.0364273369229759"
        rpy="0 0 0" />
      <mass
        value="1.23727124080295" />
      <inertia
        ixx="0.000574698570546715"
        ixy="6.7861884473848E-07"
        ixz="6.52827071680354E-05"
        iyy="0.0139530728630749"
        iyz="1.73022939218074E-06"
        izz="0.0142113056179225" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0.03675 0.153"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.570796327"
      upper="1.570796327"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.271920716707995 -0.000176719212418436 -0.0120138921627069"
        rpy="0 0 0" />
      <mass
        value="0.370266089775016" />
      <inertia
        ixx="0.000130367133133288"
        ixy="6.8904580007452E-07"
        ixz="-1.94899942108088E-06"
        iyy="0.0026767489060302"
        iyz="-1.73328221772745E-07"
        izz="0.00278032819630172" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.52 0 0.08565"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9"
      upper="2.9"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.101739291148925 0.0561668504993356 -0.0293841566997596"
        rpy="0 0 0" />
      <mass
        value="1.54177209165349" />
      <inertia
        ixx="0.000889042299025289"
        ixy="-2.00979301144906E-06"
        ixz="1.14560649951194E-05"
        iyy="0.000902753866766143"
        iyz="4.25131749155067E-08"
        izz="0.000270000371052934" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.436 0 0.0225"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.0"
      upper="1.8"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.0486576553457728 0.00239487174403753 0.00012705522061713"
        rpy="0 0 0" />
      <mass
        value="0.0698721570199944" />
      <inertia
        ixx="1.56377401050224E-05"
        ixy="-2.12604880279856E-07"
        ixz="-4.57425787908851E-21"
        iyy="1.97786334057882E-05"
        iyz="2.67416707819328E-21"
        izz="2.26007956299793E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.07761 -0.0058889 -0.03035"
      rpy="-1.5708 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.0349"
      upper="0.0349"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="1.1369377661552E-14 3.51232931627976E-13 0.0193009014981094"
        rpy="0 0 0" />
      <mass
        value="0.128099358994803" />
      <inertia
        ixx="6.47696731838478E-05"
        ixy="9.75275553763421E-22"
        ixz="-2.32600096593007E-21"
        iyy="6.47696731838478E-05"
        iyz="-1.86347248395946E-20"
        izz="9.58412456894771E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.073796 0.0036822 8.8922E-05"
      rpy="0 -1.5708 3.14" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="50"
      velocity="10" />
  </joint>
</robot>
