<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="质修R2仿制电科云台机械臂666URDF">
    <ros2_control name="arm_hw" type="system">
    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystem</plugin>
    </hardware>

    <joint name="joint1">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint2">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint3">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint4">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint5">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint6">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <link name="world"/>
   <joint name="world_to_base" type="fixed">
     <parent link="world"/>
     <child link="base_link"/>
     <origin xyz="0 0 0" rpy="0 0 0"/>
   </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00314477810784158 6.07502628329482E-05 0.0309288884499073"
        rpy="0 0 0" />
      <mass
        value="1.0608896790749" />
      <inertia
        ixx="0.00136348954613313"
        ixy="1.09519148431788E-06"
        ixz="-5.43320405230057E-07"
        iyy="0.00173058869239426"
        iyz="2.26094630333631E-07"
        izz="0.00302869715684903" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-4.33801167989273E-06 -0.0337129934218405 0.0693888972185664"
        rpy="0 0 0" />
      <mass
        value="1.3415964916658" />
      <inertia
        ixx="0.00104703767087083"
        ixy="-6.13527281147485E-07"
        ixz="1.1397456426102E-05"
        iyy="0.00166971689932541"
        iyz="-2.32711829794906E-06"
        izz="0.00125544090285874" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.04875"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.1"
      upper="2.1"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.365853216628188 -0.000167570867919797 0.0278793123516113"
        rpy="0 0 0" />
      <mass
        value="1.1688360536306" />
      <inertia
        ixx="0.000605176798012729"
        ixy="5.97640808836259E-07"
        ixz="-6.65219351214428E-05"
        iyy="0.0101407081904813"
        iyz="-1.35057504964255E-06"
        izz="0.0104820269965559" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 -0.02575 0.08875"
      rpy="-1.5708 -1.5708 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.387625948144578 0.000578440683585479 0.0275474663113074"
        rpy="0 0 0" />
      <mass
        value="0.697933163337346" />
      <inertia
        ixx="0.000283268094638963"
        ixy="1.82230790247392E-06"
        ixz="-3.36290808401328E-06"
        iyy="0.00327137348888359"
        iyz="1.48813554147957E-06"
        izz="0.00350366691281038" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.5 0 0.044"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9"
      upper="2.9"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.070676368899276 -0.0400413645185225 -0.0239463858952916"
        rpy="0 0 0" />
      <mass
        value="0.37892648177412" />
      <inertia
        ixx="0.000174029918781671"
        ixy="5.18282255506871E-06"
        ixz="-6.09003216159317E-08"
        iyy="0.000191074267942647"
        iyz="-2.79403838333222E-07"
        izz="0.000202618171796121" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.49464 0 0.04645"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2"
      upper="2"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.0451968277403802 -7.88179412723744E-06 0.0419533410672925"
        rpy="0 0 0" />
      <mass
        value="0.112337074738347" />
      <inertia
        ixx="2.52285225497034E-05"
        ixy="-5.91425386067044E-10"
        ixz="-1.35065360622416E-13"
        iyy="2.87650929013733E-05"
        iyz="1.31696157156535E-08"
        izz="3.6214455173519E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.294117647058824 0.294117647058824 0.294117647058824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.076 -0.044 -0.02455"
      rpy="-1.5708 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.4"
      upper="0.4"
      effort="50"
      velocity="10" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-1.11022302462516E-16 7.49400541621981E-16 0.0373009014980973"
        rpy="0 0 0" />
      <mass
        value="0.150213928644986" />
      <inertia
        ixx="7.59512548879522E-05"
        ixy="-2.96461531539005E-21"
        ixz="3.3881317890172E-21"
        iyy="7.59512548879522E-05"
        iyz="-1.21760986167806E-20"
        izz="0.00011238690149753" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.113725490196078 0.113725490196078 0.113725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/model/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.055 0 0.04675"
      rpy="-1.333 1.5708 -1.4022" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="50"
      velocity="10" />
  </joint>
</robot>
